@page "/categories"

<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-list-stars-fill-nav-menu" />Categorías
            <a class="btn btn-primary btn-sm float-end" href="/categories/create"><i class="bi bi-plus-square" /> Nueva Categoría</a>
        </span>
    </div>
    <div class="card-body">
        <GenericList MyList="Categories">
            <Body>
                <Pagination CurrentPage="currentPage"
                            TotalPages="totalPages"
                            SelectedPage="SelectedPageAsync" />
                <div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center;">
                    <div>
                        <input style="width: 400px;" type="text" class="form-control" id="titulo" placeholder="Buscar Categoria..." @bind-value="Filter" />
                    </div>
                    <div class="mx-1">
                        <button type="button" class="btn btn-outline-primary" @onclick="ApplyFilterAsync"><i class="bi bi-funnel" /> Filtrar</button>
                        <button type="button" class="btn btn-outline-danger" @onclick="CleanFilterAsync"><i class="bi bi-x-circle" /> Limpiar</button>
                    </div>
                </div>
                <table class="table-striped table">
                    <thead>
                        <tr>
                            <th style="width:150px">Categoría</th>
                            <th style="width:150px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Categories!)
                        {
                            <tr>
                                <td>@category.Name</td>
                                <td>
                                    <a href="/categories/edit/@category.Id" class="btn btn-warning">Editar</a>
                                    <button @onclick=@(() => DeleteAsycn(category)) class="btn btn-danger">Borrar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </Body>
        </GenericList>
    </div>
</div>