@page "/states/details/{StateId:int}"

@if (state is null)
{
    <Loading />
}
else
{
    <div class="card">
        <div class="card-header">
            <span>
                <i class="bi bi-globe-americas" />Estado @state.Name
                <a class="btn btn-primary btn-primary mx-1 float-end" href="/cities/create/@StateId"><i class="bi bi-plus-square" /> Nueva Ciudad</a>
                <a class="btn btn-success btn-success float-end" href="/countries/details/@state.CountryId"><i class="bi bi-arrow-left" /> Regresar</a>
            </span>
        </div>
        <div class="card-body">
            <h4>Ciudades</h4>
            <GenericList MyList="cities!">
                <Body>
                    <Pagination CurrentPage="currentPage"
                                TotalPages="totalPages"
                                SelectedPage="SelectedPageAsync" />
                    <div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center;">
                        <div>
                            <input style="width: 400px;" type="text" class="form-control" id="titulo" placeholder="Buscar Ciudad..." @bind-value="Filter" />
                        </div>
                        <div class="mx-1">
                            <button type="button" class="btn btn-outline-primary" @onclick="ApplyFilterAsync"><i class="bi bi-funnel" /> Filtrar</button>
                            <button type="button" class="btn btn-outline-danger" @onclick="CleanFilterAsync"><i class="bi bi-x-circle" /> Limpiar</button>
                        </div>
                    </div>
                    <table class="table-striped table">
                        <thead>
                            <tr>
                                <th>Ciudad</th>
                                <th style="width:140px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var city in cities!)
                            {
                                <tr>
                                    <td>
                                        @city.Name
                                    </td>
                                    <td>
                                        <a class="btn btn-warning btn-sm" href="/cities/edit/@city.Id">Editar</a>
                                        <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(city))>Borrar</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </Body>
            </GenericList>
        </div>
    </div>
}