
@page "/countries/details/{CountryId:int}"

@if (country is null)
{
    <Loading />
}
else
{
    <h3>@country.Name</h3>
    <div class="mb-2">
        <a class="btn btn-sm btn-primary mx-1 float-end" href="/states/create/@country.Id"><i class="bi bi-plus-square" />  Nuevo Estado</a>
        <a class="btn btn-sm btn-success float-end" href="/countries"><i class="bi bi-arrow-left" />Regresar</a>
    </div>
    <h4>Estados</h4>
    <GenericList MyList="states!">
        <Body>
            <Pagination CurrentPage="currentPage"
                        TotalPages="totalPages"
                        SelectedPage="SelectedPageAsync" />
            <table class="table-striped table">
                <thead>
                    <tr>
                        <th style="width:150px">Estado</th>
                        <th style="width:150px">Ciudades</th>
                        <th style="width:150px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var state in states!)
                    {
                        <tr>
                            <td>@state.Name</td>
                            <td>@state.CitiesNumber</td>
                            <td>
                                <a class="btn btn-warning btn-sm" href="/states/edit/@state.Id"><i class="bi bi-pencil" /> Editar</a>
                                <a class="btn btn-info btn-sm" href="/states/details/@state.Id"><i class="bi bi-pencil" /> Detalles</a>
                                <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(state))><i class="bi bi-trash" /> Borrar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </Body>
    </GenericList>
}
